<section class="details-card">
  <div class="container">
    <div class="row">
<% @posts.each do |post| %>
      <div class="col-md-4">
        <div class="card-content">
          <div class="card-img">
            <img src="https://picsum.photos/286/180/?image=<%= post['id'] %>" alt="">
            <span><h4><%= post['published-at'] %></h4></span>
          </div>
          <div class="card-desc">
            <h3><%= post['title'] %></h3>
            <p><%= post['body'] %></p>
            <a href="posts/<%= post['id'] %>" class="btn-card">Read</a>
          </div>
        </div>
      </div>
<% end %>
    </div>
  </div>
</section>
